<!-- build:include layout/header.html -->
<!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Curso GIT - GitHub</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Herramientas de desarrollo</a></li>
            <li class="active">Curso GIT - GitHub</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="ec-filters-menu">
                <h3 class="section-title no-margin-top">Filtros</h3>
                <h4>Cursos de Herramientas de desarrollo</h4>
                <ul>
                    <li><a href="#">Git y GitHub</a></li>
                    <li><a href="#">Gulp/Bower NodeJS</a></li>
                </ul>
                <img src="<%= assets %>img/demo/github-logo.png" class="spring animated animation-delay-3" alt="Image">

            </div>


        </div>

        <div class="col-md-6">
            <section class="css-section">
                <h1 class="page-header no-margin-top">Git y GitHub</h1>
                <p>
                    Aprende Git y GitHub de forma completa y desde cero. Con ejemplos prácticos. Sé un profesional del control de versiones.
                </p>

                <h3>Descripción del curso</h3>

                <p>En este curso aprenderás a utilizar dos herramientas muy populares en desarrollo colaborativo de los últimos años de gran ayuda para cualquier programador front-end o back-end.&nbsp;</p>
                <p>Git es una herramienta para el desarrollo colaborativo con la que podrás controlar los cambios que se hacen en un proyecto de modo que puedas volver atrás en el historial&nbsp;si lo necesitas.&nbsp;</p>
                <p>Y como segunda parte del curso aprenderás a obtener el máximo potencial de GitHub, un sitio web que te permite almacenar en la nube tu código, compartirlo con los demás y sobre todo trabajar en equipo mediante las características que el
                    sitio web te ofrece.</p>


                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <strong>  ¿Que incluye el curso ?</strong>

                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li>10 hrs curso presencial.</li>
                                    <li>Material impreso.</li>
                                    <li>Certificado de finalización.</li>
                                    <li>Al finalizar el curso tienes acceso a 2hrs de consultoria con nuestros asesores totalmente gratis.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <strong>  Temario   Git - GitHub</strong>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">


                                <p><strong>Git - Unidad 1</strong>.
                                    <ul>
                                        <li>Sistema de control de versiones.</li>
                                        <li>Conceptos básicos de git.</li>
                                        <li>Instalación de git.</li>
                                    </ul>
                                    <p><strong>Git - Unidad 2</strong>.</p>
                                    <ul>
                                        <li>Inicialización de git.</li>
                                        <li>Clonar un repositorio existente.</li>
                                        <li>Trabajando con los comandos básicos de git.</li>
                                        <li>Manejo de confirmación de cambios.</li>
                                        <li>Ver historial de los cambios.</li>
                                        <li>Trabajando con repositorios remotos.</li>
                                    </ul>
                                    <p><strong>GIt - Unidad 3</strong>.</p>
                                    <ul>
                                        <li>Creando ramas en git.</li>
                                        <li>Trabajando con las ramas</li>
                                        <li>Realización de merge entre las ramas.</li>
                                    </ul>
                                    <p><strong>GitHub - Unidad 4</strong>.</p>
                                    <ul>
                                        <li>Creación y configuración de una cuenta en GitHub</li>
                                        <li>Participando en proyectos.</li>
                                        <li>Creacion de Pull Request.</li>
                                        <li>Mantenimiento de un proyecto.</li>
                                        <li>Compartir tu proyecto Git en GitHub</li>
                                    </ul>
                                    <p><br></p>


                            </div>
                        </div>
                    </div>


                </div>




            </section>

        </div>



        <div class="col-md-3">
            </br>
            </br>
            <div class="e-price">$MXN <span>1,200</span>.00</div>
            <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Me interesa el curso</a>
            </br>
            </br>
            <h3 class="right-line">Cursos relacionados</h3>
            <div class="ec-box">
                <div class="ec-box-header"><a href="#">Gulp/Bower de cero a experto</a></div>
                <a href="#"><img src="assets/img/demo/gulp-bower.jpg" alt=""></a>
                <div class="ec-box-footer">

                    <a href="#" class="btn btn-ar btn-primary btn-sm pull-right">Revisar contenido</a>
                </div>
            </div>
        </div>




    </div>
</div>
<!-- container -->

<!-- build:include layout/footer/widgets.html -->
<!-- /build -->
<!-- build:include layout/footer/foot.html -->
<!-- /build -->


<!-- build:include layout/footer/slidebar.html -->
<!-- /build -->
<!-- build:include layout/footer/totop.html -->
<!-- /build -->
<!-- build:include layout/footer/scripts.html -->
<!-- /build -->
<script src="<%= assets %>js/commerce.js"></script>

</body>

</html>
