<!-- build:include /layout/header.html -->
<!-- /build -->



<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="ec-filters-menu">

                <h4>Cursos herramientas de desarrollo</h4>
                <ul>
                    <li><a href="#">Git y GitHub</a></li>
                </ul>
            </div>
            <br>
            <br>
            <img src="<%= assets %>img/demo/github-logo.png" class="spring animated bounceInUp animation-delay-3" alt="Image">

        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h1 class="page-header no-margin-top">Git y GitHub</h1>
                <p>
                    Aprende Git y GitHub de forma completa y desde cero. Con ejemplos prácticos. Sé un profesional del control de versiones.
                </p>

                <h3>Descripción del curso</h3>

                <div ng-bind-html="course.description">
                    <p>En este curso aprenderás a utilizar dos herramientas muy populares en desarrollo colaborativo de los últimos años de gran ayuda para cualquier programador front-end o back-end.&nbsp;</p>
                    <p>Git es una herramienta para el desarrollo colaborativo con la que podrás controlar los cambios que se hacen en un proyecto de modo que puedas volver atrás en el historial&nbsp;si lo necesitas.&nbsp;</p>
                    <p>Y como segunda parte del curso aprenderás a obtener el máximo potencial de GitHub, un sitio web que te permite almacenar en la nube tu código, compartirlo con los demás y sobre todo trabajar en equipo mediante las características que el sitio web te ofrece.</p>

                    <p><strong>Temario</strong>.
                    <p><strong>Git - Unidad 1</strong>.
                    <ul>
                        <li>Sistema de control de versiones.</li>
                        <li>Conceptos básicos de git.</li>
                        <li>Instalación de git.</li>
                    </ul>
                    <p><strong>Git - Unidad 2</strong>.
                    <ul>
                        <li>Inicialización de git.</li>
                        <li>Clonar un repositorio existente.</li>
                        <li>Trabajando con los comandos básicos de git.</li>
                        <li>Manejo de confirmación de cambios.</li>
                        <li>Ver historial de los cambios.</li>
                        <li>Trabajando con repositorios remotos.</li>
                    </ul>
                    <p><strong>GIt - Unidad 3</strong>.
                    <ul>
                        <li>Creando ramas en git.</li>
                        <li>Trabajando con las ramas</li>
                        <li>Realización de merge entre las ramas.</li>
                    </ul>
                    <p><strong>GitHub - Unidad 4</strong>.
                    <ul>
                        <li>Creación y configuración de una cuenta en GitHub</li>
                        <li>Participando en proyectos.</li>
                        <li>Creacion de Pull Request.</li>
                        <li>Mantenimiento de un proyecto.</li>
                        <li>Compartir tu proyecto Git en GitHub</li>
                    </ul>
                    <p><br></p>
                </div>
                  <p>© 2017 Neossoftware Corporation, All rights reserved.</p>
            </section>

        </div>
    </div>
</div>
<!-- container -->

<!-- build:include layout/footer/widgets.html -->
<!-- /build -->
<!-- build:include layout/footer/foot.html -->
<!-- /build -->

</div>
<!-- boxed -->
</div>
<!-- sb-site -->

<!-- build:include layout/footer/slidebar.html -->
<!-- /build -->
<!-- build:include layout/footer/totop.html -->
<!-- /build -->
<!-- build:include layout/footer/scripts.html -->
<!-- /build -->
<script src="<%= assets %>js/commerce.js"></script>

</body>

</html>
