<!-- build:include layout/header.html -->
<!-- /build -->

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">Neossoftware Corporation</h1>
            <img src="<%= assets %>img/logo_raw_white.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Llegar a ser un desarrollador fullstack no habia sido tan sencillo</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14"><strong>Una solución completa para tener los conocimientos necesarios para estar trabajando con las mejores empresas del mundo, o porque no crear tu propia empresa
nuestra linea de estudio esta basada en:
            </strong></p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-github" aria-hidden="true"></i></span>
                    <h3>Herramientas de desarrollo</h3>
                    <p class="text-center">Git/GitHub, HTML5, CSS3 , Bootstrap</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-css3"></i></span>
                    <h3>Angular JS</h3>
                    <p class="text-center">Hoy por hoy uno de los mejores frameworks para crear aplicaciones web</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-database" aria-hidden="true"></i></span>
                    <h3>Mongo DB</h3>
                    <p class="text-center">Es la base de datos NoSQL líder y permite a las empresas ser más ágiles y escalables</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-desktop"></i></span>
                    <h3>NodeJS / Express</h3>
                    <p class="text-center">Eius culpa eligendi autem odio nisi dignissimos sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!--
<section class="wrap-dark-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 feature-container">
                <a class="feature-icon">
                    <i class="fa fa-desktop"></i>
                    <h4>Retina</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-download"></i>
                    <h4>Downloads</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-cloud"></i>
                    <h4>Cloud</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-html5"></i>
                    <h4>HTML 5</h4>
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section> -->

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">¿Cómo funciona nuestro producto?</h2>


                <section class="margin-bottom margin-top">
                    <ul class="nav nav-pills nav-justified ar-nav-pills max-width-600 center-block margin-bottom">
                        <li class="active"><a href="#windows" data-toggle="tab"><i class="fa fa-child" aria-hidden="true"></i>Paso 1 - Inscribete al curso</a></li>
                        <li>
                            <a href="#mac" data-toggle="tab"></i><i class="fa fa-child" aria-hidden="true"></i> Paso 2. Material de entrenamiento</a>
                        </li>
                        <li><a href="#linux" data-toggle="tab"><i class="fa fa-child" aria-hidden="true"></i>Paso 3. Validez Oficial</a></li>
                        <li><a href="#aplica_conocimiento" data-toggle="tab"><i class="fa fa-child" aria-hidden="true"></i>Paso 4. Aplica tus conocimientos</a></li>
                    </ul>

                    <div class="tab-content margin-top">
                        <div class="tab-pane active" id="windows">
                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                                    <ul class="list-unstyled hand-list">
                                        <li class="animated fadeInRight animation-delay-2">
                                            <h1 class="page-header no-margin-top">Inscripción</h1>
                                            <p class="lead lead-sm">Inscribete al programa de manera online, avanzas a tu propio ritmo dependiendo de tu tiempo libre, lo unico que requieres es tener una conexión a internet y una computadora/laptop para poder realizar las prácticas
                                                de cada curso. </p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                                    <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>img/demo/inscripcion.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="mac">
                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                                    <ul class="list-unstyled hand-list">
                                        <li class="animated fadeInRight animation-delay-2">
                                            <h1 class="page-header no-margin-top">Aprende de la mano de un experto</h1>
                                            <p class="lead lead-sm">Nuestro método único esta basado en cientos de horas de videotutoriales, prácticas de reforzamiento, ¿tienes dudas en una tecnología? no te preocupes tienes sesiones uno a uno para resolverla, tutor personalizado
                                                que te guiara en lograr el éxito de tu meta. </p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                                    <img class="img-responsive animated zoomInUp animation-delay-3" src="<%= assets %>img/demo/mean.jpeg">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="linux">
                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                                    <ul class="list-unstyled hand-list">
                                        <li class="animated fadeInRight animation-delay-2">
                                            <h1 class="page-header no-margin-top">¿Quien nos avala?</h1>
                                            <p class="lead lead-sm">Cuando termines cada módulo obtendrás un certificado con valildez oficial de la SEP, es decir podrás agregarlo en tu curriculum inmediatamente, Sin duda alguna este es un punto muy importante cuando estas en
                                                busqueda de una capacitación .</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                                    <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>img/demo/sep.png">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="aplica_conocimiento">
                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                                    <ul class="list-unstyled hand-list">
                                        <li class="animated fadeInRight animation-delay-2">
                                            <h1 class="page-header no-margin-top">Posibilidades infinitas</h1>
                                            <p class="lead lead-sm">Desde que inicias con el material puedes comenzar a aplicar tus conocimientos en lo que más te guste puedes comenzar a desarrollar tu aplicación o indicar a las empresas que posees nuevos conociemientos para
                                                ganar más dinero.
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                                    <img class="img-responsive animated zoomInUp animation-delay-3" src="<%= assets %>img/demo/exito.jpg">
                                </div>
                            </div>
                        </div>

                    </div>
                </section>





            </div>
        </div>
        <!-- row -->
    </section>
</div>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">¿Cual es el contenido de cada módulo?</h2>

                <p class="lead lead-sm">Los módulos estan estructurados de la siguiente forma</p>

                <div class="row">
                    <div class="col-md-3">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-github" aria-hidden="true"></i></span>
                            <h5 class="content-box-title">Herramientas de desarrollo</h5>
                            <p>El objetivo de este módulo es que conozcas las siguientes herramientas : </p>
                            <p><a href="course_git.html">Git /Github</a></p>
                            <p><a href="course_git.html">Bootstrap</a></p>
                            <p><a href="course_git.html">Gulp/Bower</a></p>


                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-css3"></i></span>
                            <h5 class="content-box-title">Angular JS</h5>
                            <p>El objetivo de este módulo es que puedas iniciar una aplicacion web escalable con Angular JS, si ya esta creada podras darle mantenimiento : </p>
                            <p><a href="course_git.html">Angular JS</a></p>
                            <br/>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-database" aria-hidden="true"></i></span>
                            <h5 class="content-box-title">MongoDB</h5>
                            <p>
                                MongoDB es una base de datos libre y de código abierto NoSQL utilizada en aplicaciones web modernas.
                            </p>
                            <p><a href="course_git.html">Mongo DB</a></p>

                            <br/>
                            <br/>



                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-code" aria-hidden="true"></i></span>
                            <h5 class="content-box-title">NodeJS/ Express</h5>
                            <p>
                                En este modulo sabrás como utilizar las funcionalidades de Javascript en el servidor por medio Node JS y Express
                            </p>
                            <p><a href="course_git.html">NodeJS/Express</a></p>

                            <br/>
                            <br/>



                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
</div>


<!-- build:include layout/footer/widgets.html -->
<!-- /build -->
<!-- build:include layout/footer/foot.html -->
<!-- /build -->

</div>
<!-- boxed -->
</div>
<!-- sb-site -->

<!-- build:include layout/footer/slidebar.html -->
<!-- /build -->
<!-- build:include layout/footer/totop.html -->
<!-- /build -->
<!-- build:include layout/footer/scripts.html -->
<!-- /build -->
<script src="<%= assets %>js/home_full.js"></script>

</body>

</html>
.js"></script>

</body>

</html>
