<!-- build:include layout/header.html -->
<!-- /build -->

<section class="carousel-section">
    <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="10000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><a class="carousel" href="#">Curso de certificación Java 8</a></h1>
                                    <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitleWhite">¿Sabías que Java es uno de los lenguajes
                                     de programación mas utilizado en el mundo? y que una certificación potencializará tu crecimiento  </h2>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Garantizamos que obtendrás la certificación Java.</li>
                                        <li class="animated bounceInLeft animation-d elay-12"><i class="fa fa-check"></i>Acceso al mejor contenido actualizado Java.</li>
                                        <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Profesores certificados que te guiará en tu proceso de aprendizaje.</li>
                                    </ul>
                                    <p class="animated fadeInUpBig animation-delay-17">La certificación Java nunca fue tan fácil conseguirla. Inscribite a <a class="carousel" href="#"> nuestro curso </a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="<%= assets %>img/demo/java-duke.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-sm-7">
                          <div class="carousel-caption">
                              <div class="carousel-text">
                                  <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><a class="carousel" href="#">Curso Angular JS</a></h1>
                                  <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitleWhite">En este curso vas a aprender paso a paso como desarrollar aplicaciones web front-end usando Angular JS.</h2>
                                  <ul class="list-unstyled carousel-list">
                                      <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Angular es un framework muy popular de la industria.</li>
                                      <li class="animated bounceInLeft animation-d elay-12"><i class="fa fa-check"></i>Es un pilar primordial para front-end o full-stack.</li>
                                      <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Aumenta tus posibilidades laborales aprendiendo Angular JS desde cero.</li>
                                  </ul>
                                  <p class="animated fadeInUpBig animation-delay-17">Aprender JavaScript nunca fue tan fácil. Inscribite a <a class="carousel" href="#"> nuestro curso </a> </p>
                              </div>
                          </div>
                      </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="<%= assets %>img/demo/angular-large.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-sm-7">
                          <div class="carousel-caption">
                              <div class="carousel-text">
                                  <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><a class="carousel" href="#">Curso Spring 4</a></h1>
                                  <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitleWhite">Al finalizar el curso Spring 4 podrás resolver cualquier problemas de la vida real utilizando el framework mas potente de la industria.</h2>
                                  <ul class="list-unstyled carousel-list">
                                      <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Spring framework se ha convertido en un estandar.</li>
                                      <li class="animated bounceInLeft animation-d elay-12"><i class="fa fa-check"></i>Aprenderas los conceptos más importantes del framework.</li>
                                      <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Crearemos una aplicación web real usando Spring.</li>
                                  </ul>
                                  <p class="animated fadeInUpBig animation-delay-17">Aprender Spring 4 al alcance de tus posibilidades. Inscribite ahora <a class="carousel" href="#"> nuestro curso </a> </p>
                              </div>
                          </div>
                      </div>
                        <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="<%= assets %>img/demo/spring4.png" class="spring animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-sm-7">
                          <div class="carousel-caption">
                              <div class="carousel-text">
                                  <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><a class="carousel" href="#">Git y GitHub.</a></h1>
                                  <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitleWhite">Aprende a utilizar la herramienta colaborativa Git y GitHub más potente del mercado desde el nivel principiante hasta un nivel experto.</h2>
                                  <ul class="list-unstyled carousel-list">
                                      <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Conoce las bases de la herramienta colaborativa Git.</li>
                                      <li class="animated bounceInLeft animation-d elay-12"><i class="fa fa-check"></i>Trabajaremos con un proyecto real en Github.</li>
                                      <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Comenzaras a desarrollar tu propio proyecto usando Git desde la primer clase.</li>
                                  </ul>
                                  <p class="animated fadeInUpBig animation-delay-17">Aprender Git y GitHub nunca fue tan divertido. Inscribite ahora <a class="carousel" href="#"> nuestro curso </a> </p>
                              </div>
                          </div>
                      </div>
                        <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="<%= assets %>img/demo/github-logo.png" class="spring animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
<!-- carousel -->



<div class="container">
    <div class="row">
        <h2 class="section-title">Lista completa de cursos</h2>
        <div class="col-md-6 col-sm-6">

            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Cursos Java Script</strong></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-desktop" aria-hidden="true">&nbsp;&nbsp;  Angular JS version 1</i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-paper-plane" aria-hidden="true">&nbsp;&nbsp;  Angular JS 2 (Nueva version Angular)</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-code" aria-hidden="true">&nbsp;&nbsp; Dojo framework </i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-code-fork" aria-hidden="true">&nbsp;&nbsp;Node JS y Gulp</i>
                            </a>
                        </li>

                    </ul>


                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">

            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Cursos de Java</strong></div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-coffee" aria-hidden="true">&nbsp;&nbsp;  Seminario de certificacion Java 8</i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-desktop" aria-hidden="true">&nbsp;&nbsp; Java SE 8 Fundamentals</i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-code" aria-hidden="true">&nbsp;&nbsp; Spring Framework (Core, MVC)</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Cursos de Herramientas de desarrollo </strong></div>
                <div class="panel-body">

                    <ul>
                        <li>
                            <a href="course_git.html">
                                <i class="fa fa-code-fork" aria-hidden="true">&nbsp;&nbsp;  Git y Github de principiante a experto</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="container">




        <section>
            <p class="slogan text-center">
                Descubre nuestros casos de éxito en las compañias con las que hemos trabajado, mas de 15 años en la industria nos <span>respaldan</span>

                <h2 class="section-title">Nuestros Clientes :</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="bxslider-controls">
                            <span id="bx-prev5"></span>
                            <span id="bx-next5"></span>
                        </div>
                        <ul class="bxslider" id="home-block">
                            <li>
                                <blockquote class="blockquote-color">
                                    <p>Gracias a Neossoftware incorporamos tecnologías de vanguardia en los sistemas de Educación del Gobierno del Estado de México</p>
                                    <footer>Lorena Garcia, Gobierno del Estado de México</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote-color">
                                    <p>Sin lugar a dudas las capacidades técnicas del equipo crecieron gracias a los cursos recibidos por parte de Neossoftware , al dia de hoy estamos utilizando Dojo,Angular JS, Spring en nuestros proyectos basados en Java</p>
                                    <footer>Gerardo Prado, HSBC México</footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote class="blockquote-color">
                                    <p> En 2015 teniamos serios problemas en el manejo de los procesos batch basados en Java por el desconocimiento de las plataformas de desarrollo, la capacitacion de Neossoftware nos ayudo enormemente para entender las bases
                                        de Spring Batch y desarrollar adecuadamente los requerimientos de nuestro cliente </p>
                                    <footer>Luis Samaniego, BBVA Bancomer</footer>
                                </blockquote>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/logos/gobiernoem2.png" alt="" class="img-responsive center-block"></div>
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/logos/bancomer.png" alt="" class="img-responsive center-block"></div>
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/logos/logo_hsbc.gif" alt="" class="img-responsive center-block"></div>

                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/anz.png" alt="" class="img-responsive"></div>
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/maxis.png" alt="" class="img-responsive"></div>
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/sony.png" alt="" class="img-responsive"></div>
                            <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= assets %>img/demo/hp.png" alt="" class="img-responsive"></div>
                        </div> -->
                    </div>
                </div>
        </section>

    </div>

    <!-- build:include layout/footer/widgets.html -->
    <!-- /build -->
    <!-- build:include layout/footer/foot.html -->
    <!-- /build -->

</div>
<!-- boxed -->
</div>
<!-- sb-site -->

<!-- build:include layout/footer/slidebar.html -->
<!-- /build -->
<!-- build:include layout/footer/totop.html -->
<!-- /build -->
<!-- build:include layout/footer/scripts.html -->
<!-- /build -->
<script src="<%= assets %>js/index.js"></script>

</body>

</html>
