<nav class="<%= navbar_class %> yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="<%= navbar_brand_class %>" href="index.html">Neossoftware <span>Corporation</span></a>
        </div>
        <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="<%= navbar_nav_class %>">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="index.html">FullStack Developer Online</a></li>
                        <li><a href="index2.html">Cursos presenciales</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">FullStack Developer</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="git_training.html"><i class="fa fa-font"></i> Git/GitHub</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Bootstrap</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Gulp/Bower</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Angular JS</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i>Mongo DB</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Node JS/ Express</a></li>

                    </ul>
                </li>


                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">About us &amp; Team</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_about.html">About us Option 1</a></li>
                                <li><a href="page_about2.html">About us Option 2</a></li>
                                <li><a href="page_about3.html">About us &amp; Team</a></li>
                                <li class="divider"></li>
                                <li><a href="page_team.html">Our Team Option 1</a></li>
                                <li><a href="page_team2.html">Our Team Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Form</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_contact.html">Contact Option 1</a></li>
                                <li><a href="page_contact2.html">Contact Option 2</a></li>
                                <li class="divider"></li>
                                <li><a href="page_login.html">Login Integrated</a></li>
                                <li><a href="page_login_full.html">Login Full Page</a></li>
                                <li class="divider"></li>
                                <li><a href="page_login_register.html">Login and Register</a></li>
                                <li><a href="page_register.html">Register Option 1</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Profiles</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_profile.html">User Profile Option 1</a></li>
                                <li><a href="page_profile2.html">User Profile Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Error</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_404.html">Error 404 Full Page</a></li>
                                <li><a href="page_404_2.html">Error 404 Integrated</a></li>
                                <li><a href="page_500.html">Error 500 Full Page</a></li>
                                <li><a href="page_500_2.html">Error 500 Integrated</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Bussiness &amp; Products</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_testimonial.html">Testimonials</a></li>
                                <li><a href="page_clients.html">Our Clients</a></li>
                                <li><a href="page_product.html">Products</a></li>
                                <li><a href="page_services.html">Services</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Pricing</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_pricing.html">Pricing Box</a></li>
                                <li><a href="page_pricing-mega.html">Pricing Mega Table</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">FAQ &amp; Support</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_support.html">Support Center</a></li>
                                <li><a href="page_faq.html">FAQ Option 1</a></li>
                                <li><a href="page_faq2.html">FAQ Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_coming.html">Coming Soon Option 1</a></li>
                                <li><a href="page_coming2.html">Coming Soon Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">Timeline</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_timeline_left.html">Timeline Left</a></li>
                                <li><a href="page_timeline.html">Timeline Center</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="blog.html">Blog Right Sidebar</a></li>
                        <li><a href="blog_left.html">Blog Left Sidebar</a></li>
                        <li><a href="blog_full.html">Blog Full</a></li>
                        <li><a href="blog_masonry.html">Blog Masonry <span class="label label-success pull-right">New</span></a></li>
                        <li><a href="blog2.html">Other Option</a></li>
                        <li class="divider"></li>
                        <li><a href="single.html">Blog Item</a></li>
                        <li><a href="single_full.html">Blog Item Full</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">E-commerce</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="e-commerce_home.html">E-commerce Home</a></li>
                        <li><a href="e-commerce.html">E-commerce Filters</a></li>
                        <li><a href="e-commerce_product.html">Product</a></li>
                        <li><a href="e-commerce_cart.html">Cart</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="portfolio_sidebar.html">Portfolio sidebar filters</a></li>
                        <li><a href="portfolio_topbar.html">Portfolio topbar filters</a></li>
                        <li><a href="portfolio_caption_hover.html">Portfolio with captions</a></li>
                        <li class="divider"></li>
                        <li><a href="portfolio_item.html">Portfolio item</a></li>
                        <li><a href="portfolio_item_devices.html">Portfolio item device</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- navbar-collapse -->
    </div>
    <!-- container -->
</nav>
