<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class=col-xs-6>
                <h3 class="footer-widget-title">Mapa del sitio</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                    <li><a href="portfolio_topvar.html">Works</a></li>
                    <li><a href="page_timeline_left.html">Timeline</a></li>
                    <li><a href="page_pricing.html">Pricing</a></li>
                    <li><a href="page_about2.html">About Us</a></li>
                    <li><a href="page_team.html">Our Team</a></li>
                    <li><a href="page_services.html">Services</a></li>
                    <li><a href="page_support.html">FAQ</a></li>
                    <li><a href="page_login_full.html">Login</a></li>
                    <li><a href="page_contact.html">Contact</a></li>
                </ul>
                <h3 class="footer-widget-title">Subscribete a Neossystem</h3>
                <p></p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-xs-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Otros sitios relacionados</h3>
                    <div class="media">
                        <a class="pull-left" href="https://github.com/personal" target="_blank"><img class="media-object" src="<%= assets %>img/footer/git-github-logo.jpg" width="95" height="45" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://github.com/personal" target="_blank">Sitio oficial de github</a></h4>
                            <small>Febrero, 2017</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="https://projects.spring.io/spring-framework/" target="_blank"><img class="media-object" src="<%= assets %>img/footer/spring-framework.png" width="95" height="50" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://projects.spring.io/spring-framework/" target="_blank">Sitio oficial Spring Framework</a></h4>
                            <small>Febrero, 2017</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="https://angularjs.org/" target="_blank"><img class="media-object" src="<%= assets %>img/footer/angularjs.png" width="95" height="40" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://angularjs.org/" target="_blank">Sitio ofical Angular</a></h4>
                            <small>Febrero, 2017</small>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Works</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/demo/wf1.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/demo/wf2.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/demo/wf3.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/demo/wf4.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                    </div>
                </div>
            </div>
          -->
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
